.row
  .jumbotron
    .row
      .col-md-5.col-md-offset-1#random
        %h2.text-center='Explore'
        %h2.text-center= 'As'
        %h2.text-center= 'Guest!'
      .col-md-5#random
        %h2.text-center= 'Register!'
        %h2.text-left= 'Single User'
    %br
    .row
      .col-md-4#random1
        %h2.text-center='ABOUT'
        %p= 'SOME RANDOM SHIT TEXT SOME RANDOM SHIT TEXT'
      .col-md-4#random1
        %h2.text-center='ABOUT'
        %p= 'SOME RANDOM SHIT TEXT SOME RANDOM SHIT TEXT'
      .col-md-4#random1
        %h2.text-center='ABOUT'
        %p= 'SOME RANDOM SHIT TEXT SOME RANDOM SHIT TEXT'
    %br
    .row
      .col-md-9.col-md-offset-2#random1
        %p= 'HERE WILL BE SOMETHING INTERESTING! NEEED LONGER TEXT! BIT MORE! NICE!'
        %p.text-center= 'SOME RANDOM SHIT TEXT SOME RANDOM SHIT TEXT SOME RANDOM SHIT TEXT SOME RANDOM SHIT TEXT SOME RANDOM SHIT TEXT SOME RANDOM SHIT TEXT'